.mainView {
}

.mainView__mobileToolbar {
  display: none;
}

.mainView__gridContainer {
  height: 100dvh;
  display: flex;
}

.mainView__leftPanel {
  height: 100%;
}

.mainView__middlePanel {
  height: 100%;
  flex: 1 1 auto;
  scrollbar-color: rgba(255, 255, 255, 0.315) transparent;
  overflow: auto;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
}

.mainView__rightPanel > div {
  height: 100%;
}

@media (max-width: 1024px) {
  .mainView__mobileToolbar {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 0 8px;
  }

  .mainView__gridContainer {
    height: calc(100dvh - 48px);
  }
}
